@import url('variables.css');
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div__logo{
    padding: 15px;
    gap: 20px;
}

.div__menu {
    padding: 15px;
    gap: 20px;
}

.ul__menu{
    padding: 15px;
    display: flex;
    gap: 20px;
}

.ul__menu li {
    list-style: none;
}

.section__home {
    background-image: linear-gradient(#376e40d3, #071917), url('../storage/img/Rectangle_1.png');
}

.article__home {
    position: relative;
    width: 626px;
    height: 360px;
    padding: 20px;
    left: 287px;
    top: 120px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}









